In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from statsmodels.stats.outliers_influence import variance_inflation_factor

import pickle 
import json
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r'C:\Users\DELL\Desktop\Jupyter_notebook\Assignment\Assignment\DataScienceModelTraining\Datasets\Pune_House_Data.csv')

In [3]:
df.head()

,area_type,availability,size,society,total_sqft,bath,balcony,price,site_location
0,Super built-up Area,19-Dec,2 BHK,Coomee,1056,2.0,1.0,39.07,Alandi Road
1,Plot Area,Ready To Move,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,Ambegaon Budruk
2,Built-up Area,Ready To Move,3 BHK,NaN,1440,2.0,3.0,62.00,Anandnagar
3,Super built-up Area,Ready To Move,3 BHK,Soiewre,1521,3.0,1.0,95.00,Aundh
4,Super built-up Area,Ready To Move,2 BHK,NaN,1200,2.0,1.0,51.00,Aundh Road

## area_type

In [4]:
df['area_type'].nunique()

4

In [5]:
df['area_type'].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [6]:
df['area_type'].value_counts()

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64

In [7]:
pd.get_dummies(df, 'area_type').head()

,bath,balcony,price,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,area_type_14-Jul,area_type_14-Nov,area_type_15-Aug,...,area_type_Vadgaon Budruk,area_type_Viman Nagar,area_type_Vishrant Wadi,area_type_Wadgaon Sheri,area_type_Wagholi,area_type_Wakadewadi,area_type_Wanowrie,area_type_Warje,area_type_Yerawada,area_type_other
0,2.0,1.0,39.07,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5.0,3.0,120.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.0,3.0,62.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,1.0,95.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,1.0,51.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df[['area_type']].nunique()

area_type    4
dtype: int64

In [9]:
df.drop('area_type', axis=1, inplace = True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   availability   13320 non-null  object
 1   size           13304 non-null  object
 2   society        7818 non-null   object
 3   total_sqft     13320 non-null  object
 4   bath           13247 non-null  float64
 5   balcony        12711 non-null  float64
 6   price          13320 non-null  float64
 7   site_location  13319 non-null  object
dtypes: float64(3), object(5)
memory usage: 832.6+ KB

## availability

In [11]:
df['availability'].head()

0           19-Dec
1    Ready To Move
2    Ready To Move
3    Ready To Move
4    Ready To Move
Name: availability, dtype: object

In [12]:
df['availability'].nunique()

81

In [13]:
df['availability'].unique()

array(['19-Dec', 'Ready To Move', '18-May', '18-Feb', '18-Nov', '20-Dec',
       '17-Oct', '21-Dec', '19-Sep', '20-Sep', '18-Mar', '20-Feb',
       '18-Apr', '20-Aug', '18-Oct', '19-Mar', '17-Sep', '18-Dec',
       '17-Aug', '19-Apr', '18-Jun', '22-Dec', '22-Jan', '18-Aug',
       '19-Jan', '17-Jul', '18-Jul', '21-Jun', '20-May', '19-Aug',
       '18-Sep', '17-May', '17-Jun', '21-May', '18-Jan', '20-Mar',
       '17-Dec', '16-Mar', '19-Jun', '22-Jun', '19-Jul', '21-Feb',
       'Immediate Possession', '19-May', '17-Nov', '20-Oct', '20-Jun',
       '19-Feb', '21-Oct', '21-Jan', '17-Mar', '17-Apr', '22-May',
       '19-Oct', '21-Jul', '21-Nov', '21-Mar', '16-Dec', '22-Mar',
       '20-Jan', '21-Sep', '21-Aug', '14-Nov', '19-Nov', '15-Nov',
       '16-Jul', '15-Jun', '17-Feb', '20-Nov', '20-Jul', '16-Sep',
       '15-Oct', '15-Dec', '16-Oct', '22-Nov', '15-Aug', '17-Jan',
       '16-Nov', '20-Apr', '16-Jan', '14-Jul'], dtype=object)

In [14]:
df.drop('availability', axis = 1,inplace =True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size           13304 non-null  object
 1   society        7818 non-null   object
 2   total_sqft     13320 non-null  object
 3   bath           13247 non-null  float64
 4   balcony        12711 non-null  float64
 5   price          13320 non-null  float64
 6   site_location  13319 non-null  object
dtypes: float64(3), object(4)
memory usage: 728.6+ KB

## size

In [16]:
df['size'].nunique()

31

In [17]:
df['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', nan, '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [18]:
df.drop('size', axis=1, inplace =True)

## bath

In [19]:
df['bath'].isna().sum()

73

In [20]:
df['bath'].dtype

dtype('float64')

In [21]:
df['bath'].fillna(df['bath'].mean(), inplace =True)

In [22]:
df

       society total_sqft  bath  balcony   price         site_location
0      Coomee        1056   2.0      1.0   39.07           Alandi Road
1      Theanmp       2600   5.0      3.0  120.00       Ambegaon Budruk
2          NaN       1440   2.0      3.0   62.00            Anandnagar
3      Soiewre       1521   3.0      1.0   95.00                 Aundh
4          NaN       1200   2.0      1.0   51.00            Aundh Road
...        ...        ...   ...      ...     ...                   ...
13315  ArsiaEx       3453   4.0      0.0  231.00                Pashan
13316      NaN       3600   5.0      NaN  400.00             Paud Road
13317  Mahla T       1141   2.0      1.0   60.00              Pirangut
13318  SollyCl       4689   4.0      1.0  488.00          Prabhat Road
13319      NaN        550   1.0      1.0   17.00  Pune Railway Station

[13320 rows x 6 columns]

## society

In [23]:
df['society'].nunique()

2688

In [24]:
df.drop('society',axis=1, inplace =True)

## total_sqft

In [41]:
df.select_dtypes(include = object)
df['total_sqft']
df['total_sqft']=pd.to_numeric(df['total_sqft'], errors = 'coerce')
df['total_sqft']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
13315   NaN
13316   NaN
13317   NaN
13318   NaN
13319   NaN
Name: total_sqft, Length: 13320, dtype: float64

In [26]:
# # df['total_sqft'].apply(lambda x: x.replace('-',''))
# df['total_sqft']=df['total_sqft'].str.replace('[\-\,\ \a-zA-Z \']','')
# # df['total_sqft'].astype(float)

## bath

In [27]:
df['bath'].isna().sum()

0

In [28]:
df['bath'].dtype

dtype('float64')

## balcony

In [29]:
df['balcony'].unique()

array([ 1.,  3., nan,  2.,  0.])

In [30]:
df['balcony'].dtype

dtype('float64')

In [31]:
df['balcony'].isna().sum()

609

In [32]:
df['balcony'].fillna(df['balcony'].mean(), inplace = True)

## site_location

In [33]:
df.drop('site_location',axis = 1, inplace =True)

## price

In [34]:
df['price'].dtype

dtype('float64')

In [35]:
df.corr()

             bath   balcony     price
bath     1.000000  0.182804  0.455397
balcony  0.182804  1.000000  0.103989
price    0.455397  0.103989  1.000000

In [42]:
df.drop('total_sqft', axis= 1, inplace =True)

In [43]:
model = LinearRegression()

In [44]:
x_train, x_test, y_train, y_test = train_test_split(df.drop('price',axis=1),df['price'])

In [45]:
model.fit(x_train, y_train)

LinearRegression()

In [48]:
y_pred = model.predict(x_test)
mes = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(r2)

0.1790975154576212

In [49]:
with open('Pune_houses.pkl', 'wb') as f:
    pickle.dump(model, f)